extends layout

block content

  #user-form.row
    .col-md-12
      form.form-horizontal(action="/login" method="post")
        input(type="hidden" name="_csrf" value=csrf())
        .form-group
          label.control-label.col-sm-2(for="email") Email:
          .col-sm-10
          input.form-control#email(type="email" name="email" placeholder="my@gmail.com" autofocus)
        .form-group
          label.control-label.col-sm-2(for="password") Password:
          .col-sm-10
          input.form-control#password(type="password" name="password")
        .form-group
          .control-label.col-sm-20
            button.btn.btn-success.btn-lg(type="submit") Login
      .btn-group(role="group")
              a(href="/login/facebook")
                button.btn.btn-sm.btn-primary Login via Facebook
              a(href="/login/git")
                button.btn.btn-sm.btn-warning Login via GitHub

            
block welcome

  p.lead #{lead}

block signup

  .masthead.clearfix
    .inner
      nav.nav.nav-masthead
        a(href='/signup')
          button.btn.btn-info.btn-block Sign Up
        